{{ define "main" }}
<div class="article-layout">
  <aside class="toc">
    <h2>Contents</h2>
    {{ with .TableOfContents }}
      {{ . }}
    {{ end }}
  </aside>

  <div class="main-article prose prose-stone dark:prose-invert max-w-screen-md">
    <div class="mb-3">
      <h1 class="top-h1">{{ .Title }}</h1>
      <p class="mb-1">{{ .Date.Format "January 2, 2006" }}</p>
      <p>&mdash;</p>
    </div>

    <div class="content">
      {{ .Content }}
    </div>

    {{ partial "prevnext" . }}
  </div>
</div>
{{ end }}
