<script>
  let softwarePanel = document.querySelector("#software-panel")
    .previousElementSibling;
  softwarePanel.addEventListener("click", function() {
    let softwareBars = document.querySelectorAll("#software-percent");
    softwareBars.forEach(elem => {
      elem.style.width = elem.classList[0];
    });
  });
</script>
{{ range.Site.Params.software.list }}
<code>{{ .software }}</code>
<div class="w-100 mt-1 mb-3 border border-black dark:border-gray-300 rounded-sm" style="height: 1.25rem;">
  <div id="software-percent" class="{{ .softwarerating }}% bg-blue-500 dark:bg-yellow-700 h-full rounded-sm" style="width: 0; transition: all 0.5s;"></div>
</div>
{{ end }}
